@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather+Sans:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Lato, Merriweather;
  font-weight: 300;
  overflow-wrap: break-word;  /* nicht sicher, ob es so ist */
}

body nav {
  position: sticky;
  top: 0;
}

/* headings and logo */
.header img {
  float: left;
  width: 100px;
  height: 100px;
  background-color: black;  /* to be solved */
}

#logo {
  float: left;
}

/* nav links */
#menu {
  font-size: 110%;
  letter-spacing: 4px;
  line-height: 75px;
}
  
#menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #3a3a3a;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

/* wrapper parallax */
.wrapper {
  width: 100%;
  margin: 0 auto;       /* 0 oben und unten // rechts und links zentralisieren */
}

.main {
  display: block;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 20px;      /* 0 oben und unten // rechts und links zentralisieren */
}

section.module p {      /* inside of this section are all the parallax */
  margin-bottom: 40px;  
}  

section.module:last-child {
  margin-bottom: 0;       /* not a bottom margin here */
}

section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}

section.module.content {    /* accessing the style content on the top of the html */
  padding: 40px 0;          /* internal spacement: up and down / 0 right and left */
  background: #fdbed8;
} 

section.module.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;   /* HERE is the effect of parallax */
  background-size: cover;
}

section.module.parallax.parallax:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 8;
  background: linear-gradient(to bottom, rbga(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000); 
}

section.module.parallax-1 {
  background-image: url('../images/hero-image.jpg');
}

section.module.parallax-2 {
  background-image: url('../images/berlin-brandenburger-tor.jpg');
}

section.module.parallax h1 {
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  z-index: 50;
  text-transform: uppercase;
}

section.module.parallax h2 {
  color: #3a3a3a;
  text-align: center;
  font-size: 60px;
  font-weight: 300;
  z-index: 50;
  text-transform: uppercase;
}

  footer {
    position: sticky;
    bottom: 0;
}