@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather+Sans:wght@300&display=swap');


html, body {
  scroll-behavior: smooth;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin-top: 0;
  padding: 0;
  border: none;
  font-family: Lato, Merriweather;
  font-weight: 300;
}

/* nav links */
#menu {
  font-size: 110%;
  letter-spacing: 4px;
  line-height: 75px;
  align-items: center ;
}
  
#menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: whitesmoke;
}

#menu a:hover {
  border-bottom: 1px solid #ff5c9d;
}

.active {
  border-bottom: 1px solid #ff5c9d;
}

h1 {
  color: #3a3a3a;
  font-weight: bold;
}
nav {
  position: sticky;   
}

/* headings and logo */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #3a3a3a;
  opacity: 0.9;
  z-index: 19000;
}

#logo {
  font-size: 280%;
  opacity: 1;
}

img {
  border-radius: 10%;
  float: left;
  width: 100px;
  height: 100px;
}

/* wrap container */
.parallax-container {
  width: 100%;
  margin: 0 auto;
  display: block;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 20px;      /* 0 oben und unten // rechts und links zentralisieren */
}

section.module p {      /* inside of this section are all the parallax */
  margin-bottom: 40px;  
}  

section.module:last-child {
  margin-bottom: 0;       /* not a bottom margin here */
}

section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}

section.module.content {    
  padding: 40px 0;     
  background: #fdbed8;
} 

section.module.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;   
  background-size: cover;
}

section.module.parallax.parallax:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 8;
  background: linear-gradient(to bottom, rbga(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000); 
}

section.module.parallax-1 {
  background-image: url('../images/hero-image.jpg');
}

section.module.parallax-2 {
  background-image: url('../images/berlin-brandenburger-tor.jpg');
}

#caption h1,h2.border {
  background-color: #3a3a3a;
  font-size: 48px;
  letter-spacing: 10px;
  opacity : 0.8
}

section.module.parallax.parallax h1 {
  color: #fff;
  text-align: center;
  font-size: 3.75em;
  font-weight: bolder;
  z-index: 50;
  text-transform: uppercase;
}

section.module.parallax h2 {
  color: #3a3a3a;
  text-align: center;
  font-size: 3.75em;
  font-weight: bolder;
  z-index: 50;
  text-transform: uppercase;
}

/* parallax text */
#module-parallax-text {
  height: inherit;
}

hr {
  border-top: 1px solid #ff5c9d;
  width: 100%;
  margin: 5px 0;
}

/* why to follow this podcast? */
#photo-container {
  width: 300px;
  height: 300px;
  padding: 15px;
  border-style: solid;
  border-color: #ff5c9d;
  border-width: 1px;
  border-radius: 30%;
  margin: 0 auto;
}

#left-about {
  padding-top: 30px;
  width: 33%;
  float: left;
}

#right-about {
  padding-top: 30px;
  width: 33%;
  float: right;
}

#center-about {
  width: 33%;
  margin: 0 auto;
}

#why-podnagringa {
  text-align: center;
  margin: 20px;
  font-size: 280%;
}

#photo-cover-bg {
  background: url('../images/center-image.jpg') no-repeat center center;
  height: 100%;
  border-radius: 30%;
  border-color:#ff5c9d;
}

.left-about-heading {
  width: 60%;
  float: right;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-about-heading {
  width: 60%;
  float: left;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.left-about-heading h3 {
  text-align: center;
  font-weight: bold;
}

.left-about-heading p {
  text-align: left;
}

.right-about-heading h3 {
  text-align: center;
  font-weight: bold;
}

.right-about-heading p {
  text-align: right;
}


/* our mission // me */
#photo-mission {
  width: 300px;
  height: 300px;
  padding: 15px;
  border-style: solid;
  border-color: #ff5c9d;
  border-width: 1px;
  border-radius: 30%;
  margin: 0 auto;
}

#left-mission {
  padding-top: 30px;
  width: 33%;
  float: left;
}

#right-mission {
  padding-top: 30px;
  width: 33%;
  float: right;
}

#center-mission {
  width: 33%;
  margin: 0 auto;
}

#about-us {
  text-align: center;
  margin: 20px;
  font-size: 280%;
}

#photo-mission-bg {
  background: url('../images/about-me-img.jpg') no-repeat center center;
  height: 100%;
  border-radius: 30%;
  border-color: #ff5c9d;
}

.left-mission-heading {
  width: 60%;
  float: right;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-mission-heading {
  width: 60%;
  float: left;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.left-mission-heading h3 {
  text-align: center;
  font-weight: bold;
}

.left-mission-heading p {
  text-align: left;
}

.right-mission-heading h3 {
  text-align: center;
  font-weight: bold;
}

.right-mission-heading p {
  text-align: right;
}

/* media queries */
/* for large screens sizes 1200px */
@media screen and (max-width: 1200px) {
  #module-parallax-text {
    width: 65%;
    height: 1200px;
    margin: 0 auto;
  }

  #why-podnagringa {
    padding: 30px 0;
    margin: 0;
  }

  #left-about, #right-about {
    width: 100%;
    float: left;
    padding: 0;
  }

  #center-about {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;  
  }

  hr {
    display: none;
  }
}

/* For screens sizes 950px wide and down */
@media screen and (max-width: 950px) {
  #menu {
    clear: left;
    float: left;
    margin: 30px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  #caption {
    left: 0;
  }

  #module-parallax-text {
    width: 90%;
    height: 1200px;
    margin: 0 auto;
  }

  .left-about-heading, .right-about-heading, .left-mission-heading, .right-mission-heading {
    width: inherit;
  }

  .left-about-heading h3, .right-about-heading h3, .left-mission-heading h3, .right-mission-heading h3 {
    width: 100%;
    text-align: center;
  }
}

.left-about-heading p, .right-about-heading p, .left-mission-heading p, .right-mission-heading p {
  padding: 0 20px;
  text-align: center;
}



/* footer */
  footer {
    height: 150px;
    padding: 20px 5px;
    background: #eee;
    margin-top: 100px;
}

#footer {
  text-align: center;
  color: #ff5c9d;
}

.social-networks {
  text-align: center;
}

.social-networks > li {
  display: inline;
}

.social-networks i {
  padding: 25px;
  color: #ff5c9d
}