@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather+Sans:wght@300&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  scroll-behavior: smooth;
  font-family: Lato, Merriweather;
  font-weight: 300;
}

/* navigation links */
#menu {
  font-size: 110%;
  letter-spacing: 4px;
  line-height: 75px;
}
  
#menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: whitesmoke;
}

#menu a:hover {
  border-bottom: 1px solid #ff5c9d;
}

.active {
  border-bottom: 1px solid #ff5c9d;
}

h1 {
  color: #3a3a3a;
  font-weight: 900;
}
nav {
  position: sticky; 
  top: 0;
}

/* headings and logo */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #3a3a3a;
  opacity: 0.9;
}

#logo {
  float: left;
  font-size: 280%;
  margin-left: 30px;
  position: fixed;
  top: 0;
  height: 100px;
  opacity: 1;
}

img {
  border-radius: 10%;
  float: left;
  width: 100px;
  height: 100px;
}

/* parallax container */
.parallax-container {
  width: 100%;
  margin: 0 auto;       /* 0 top and bottom, left and right, centralized */
}

.main {
  display: block;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 20px;      /* 0 oben und unten // rechts und links zentralisieren */
}

section.module p {      /* inside of this section are all the parallax */
  margin-bottom: 40px;  
}  

section.module:last-child {
  margin-bottom: 0;       /* not a bottom margin here */
}

section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}

section.module.content {    /* accessing the style content on the top of the html */
  padding: 40px 0;          /* internal spacement: up and down / 0 right and left */
  background: #fdbed8;
} 

section.module.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;   /* HERE is the effect of parallax */
  background-size: cover;
}

section.module.parallax.parallax:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 8;
  background: linear-gradient(to bottom, rbga(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000); 
}

section.module.parallax-1 {
  background-image: url('../images/hero-image.jpg');
}

section.module.parallax-2 {
  background-image: url('../images/berlin-brandenburger-tor.jpg');
}

.caption span.border {
  background-color: #3a3a3a;
  color: #fff;
  padding: 18px;
  padding-left: 20%;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 10px;
  opacity : 0.8

}

section.module.parallax.parallax h1 {
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  z-index: 50;
  text-transform: uppercase;
}

section.module.parallax h2 {
  color: #3a3a3a;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  z-index: 50;
  text-transform: uppercase;
}

/* why to follow this podcast? */
#module-parallax-text {
  height: inherit;
}

#left-about {
  padding-top: 30px;
  width: 33%;
  float: left;
}

#right-about {
  padding-top: 30px;
  width: 33%;
  float: right;
}

#center-about {
  width: 33%;
  margin: 0 auto;
}

hr {
  border-top: #3a3a3a;
  width: 100%;
  margin: 5px 0;
}

.left-about-heading {
  width: 60%;
  float: right;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-about-heading {
  width: 60%;
  float: left;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-about-heading h2 {
  text-align: right;
}

.right-about-heading p {
  text-align: right;
}

#why-podnagringa {
  text-align: center;
  margin: 20px;
  font-size: 280%;
}

#photo-container {
  width: 300px;
  height: 300px;
  padding: 15px;
  border-style: solid;
  border-color: #fdbed8;
  border-width: 1px;
  border-radius: 30%;
  margin: 0 auto;
}

#photo-cover-bg {
  background: url('../images/center-image.jpg') no-repeat center center;
  height: 100%;
  border-radius: 30%;
}


  footer {
    position: sticky;
    bottom: 0;
}

